body {
  background-color: #F4F5F6;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1300px;
  background-color: white;
}

.navbar-height {
  height: 90px;
  align-content: center;
}

.bg-red {
  background-color: #F72210;
}

.head_img {
  width: 22px;
  height: 22px;
}

.head_img1 {
  width: 12px;
  height: 12px;
}

.pad-bot {
  padding-top: 10px;
}

.text-font {
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
}

.pad {
  padding: 20px;
}

.logo {
  height: 80px;
  padding: 6px 0;
}

.navBtn {
  background-color: white;
  border: 0;
  height: 25px;
  margin-left: 10px;
  color: red;
}

.navbar-right {
  margin: 0 10px 10px 0;
}

.arrowColor {
  color: red;
}

.belowHead {
  position: relative;
  margin-top: 90px;
  border-bottom: 1px solid rgb(219, 217, 217);
}

.navigation {
  width: 95%;
  height: 50px;
}

.navigation::before {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-color: red;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
  width: 6%;
}

.navigation a {
  color: black;
  font-size: 1.1em;
}

.navigation a:hover {
  color: red;
  text-decoration: none;
}

.form-control {
  width: 100px;
  border: 0;
  font-size: 1em;
}

.head_img2 {
  padding: 0;
  width: 20px;
  height: 20px;
  border: 0;
}

.belowHead input {
  font: 1em;
  padding-right: 0;
}

.belowHead button {
  border: 0;
  background-color: white;
}

main {
  padding-top: 20px;
  width: 90%;
}

.container-fluid {
  padding-top: 20px;
  padding-left: 10px;
}

.featuredImg {
  width: 100%;
  height: 100%;
}

.card .imgTitle {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  font-weight: bold;
  color: red;
  background-color: #F7F6F2;
}

.card .heroTitle {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px 10px;
  font-weight: 400;
  color: black;
  background-color: #c2d4d7;
  font-size: small;
}

main section h6,
main aside h6 {
  color: gray;
}

.heroTile {
  color: gray;
  font-weight: 600;
}

.PandemicHero article {
  margin: 10px 5px 0 0;
  padding-left: 0;
}

.aboutAuthor {
  margin: 0 10px;
  line-height: 0.9em;
}

.aboutAuthor a h6 {
  color: black;
  font-size: 0.95em;
}

.aboutAuthor a:hover,
.aboutAuthor a h6:hover {
  text-decoration: none;
  color: red;
}

.aboutAuthor p {
  font-size: 0.8em;
  color: #515250;
}

.debate {
  margin-top: 20px;
}

.deb_auth {
  padding-bottom: 15px;
  border-bottom: 4px double rgb(206, 207, 207);
}

.deb_auth a img {
  width: 97px;
  height: 100px;
  object-fit: cover;
}

.deb_auth a h6 {
  color: black;
  vertical-align: middle;
  margin: 10px 0 10px 10px;
}

.container-fluid {
  padding-right: 0;
}

.aside {
  padding-right: 10px;
}

.debate-box1 {
  border-top: 4px solid red;
  position: relative;
}

.debate-box1:last-child {
  border-top: 4px solid blue;
  position: relative;
}

.opinion section {
  border-bottom: 1px solid rgb(206, 207, 207);
  margin-top: 10px;
}

.opinion section:last-child {
  border-bottom: 0;
}

.opinion section:first-child {
  margin-top: 0;
}

.debate-box1 p {
  margin-top: 10px;
  font-size: 0.9em;
  letter-spacing: -1px;
}

.debate-box1 .deb_img1 {
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.vs {
  color: white;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  border-radius: 50%;
  background-color: black;
  margin: 20px auto;
  text-align: center;
}

.latestNews {
  margin-top: 20px;
}

.latestNews .opinion {
  padding: 10px 0;
  border-bottom: 1px solid rgb(206, 207, 207);
}

.latestNews .opinion:last-child {
  border-bottom: 0;
}